.navtabs_wrapper {
  @media only screen and (min-width: 993px) {
    // width: 50% !important;
  }
  @media only screen and (max-width: 992px) {
    width: 70% !important;
  }
  @media only screen and (max-width: 768px) {
    left: 0 !important;
    transform: unset !important;
  }
} //.navtabs_wrapper

.tabs.navtabs,
.navtab_home {
  .tab a {
    // tab text
    color: color("teal", "lighten-2") !important;
    font-weight: 600 !important;
    &:hover {
      color: color("teal", "base") !important;
    }
    &.active {
      background-color: color("teal", "lighten-1") !important;
      color: white !important;
    }
  } // .tab a

  .indicator {
    background-color: color("teal", "base") !important;
  }

  // disable box-shadow
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;

  // remove background
  background-color: transparent;
} //.navtabs

// sync the height of tabs w/ nav
.tabs.navtabs,
.tabs.navtabs .tab,
.navtab_home li {
  height: 56px !important;
  line-height: 56px !important;

  @media only screen and (min-width: 601px) {
    height: 64px !important;
    line-height: 64px !important;
  }
}

.tab_contents {
  // background-color: red !important;
}
