.dropdown_header {
  @media #{$large-and-up} {
    display: none !important;
  }

  cursor: not-allowed;

  // background-color: color("grey", "darken-3") !important;
  color: white !important;
  font-size: 0.8rem !important;
  font-weight: 700;
  margin: 0 !important;
  padding: 0.5rem !important;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background-color: color("grey", "darken-3") !important;
  }
} // dropdown_header
