.ordernadetails {
  .na_item {
    .qty {
      font-weight: 600;
    } // .qty
    .na_btn {
      display: flex;
      justify-content: space-evenly;
    } //  .na_btn
  } // .na_item
} //. ordernadetails
