.signedinlinks {
  /* DROPDOWN: fix materialize icon and the parent nav don't have the same height */
  .nav_dropdown_btn.btn-floating {
    .material-icons {
      // line-height: 40px; /*  fix for floating btn */
      line-height: unset;
    }
  }
  .nav_dropdown_btn.btn {
    .material-icons {
      // line-height: 36px; /*  fix for regular btn */
      line-height: unset;
    }
  }

  /* DROPDOWN: increase width */
  .dropdown-content.nav_dropdown {
    width: 150px !important;

    // mod hover color
    li a:hover {
      background-color: color("teal", "darken-1");
      color: white;
    }
  }

  // override default: shift LOGO to left during 'small'

  nav .brand-logo {
    @media #{$small-and-down} {
      left: unset !important;
      transform: unset !important;
    }
    @media only screen and (max-width: 333px) {
      display: none !important;
    }
  }

  // space nav buttons equally
  .nav_btn {
    a,
    button {
      margin: 0px 5px;
    }
  }

  // verticl center .nav)btn
  .nav_btn {
    &.pc,
    &.mobile,
    &.user_init {
      display: flex;
      align-items: center;
      height: 56px;

      @media only screen and (min-width: 601px) {
        height: 64px;
      }
    }

    // add style user initi

    &.user_init button {
      color: white !important;
      background: transparent !important;
    }
  }
} // .signedinlinks
