html {
  min-height: 100%;
}

.collection {
  background: blue !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: url(/img/mario-bg.png) no-repeat; */
  background: url(/img/2020-001.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 100%;
  /* background-color: #95e8f3; */
  /* background-color: #f7f7f7; */
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

.datepicker-calendar button {
  /* the above "form button" rule is affecting date picker, hence here overriding it */
  margin: auto;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

/* ToggleByAuthor.js */
.swith.toggleByAuthor {
  text-align: center;
}

/* DROPDOWN: fix materialize icon and the parent nav don't have the same height */
.nav_dropdown_btn.btn-floating .material-icons {
  line-height: 40px; /*  fix for floating btn */
}
.nav_dropdown_btn.btn .material-icons {
  line-height: 36px; /*  fix for regular btn */
}

/* DROPDOWN: increase width */
.dropdown-content.nav_dropdown {
  width: 150px !important;
}
